body,
ul,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
figure,
figcaption,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

input,
a {
    outline: none;
}


/* 头部header */

#index_main header {
    width: 100%;
}


/* 顶部广告图 */

#index_main .header_top {
    height: 72px;
}

#index_main .header_top img {
    width: 100%;
    height: 100%;
}


/* 头部导航1 */

#index_main .site-topbar {
    width: 100%;
    height: 40px;
    background: #333;
}


/* 导航1主体 */

#index_main .site-topbar .container {
    width: 1200px;
    margin: 0 auto;
}

#index_main .site-topbar .topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
}

#index_main .site-topbar .topbar-nav .appcode {
    position: absolute;
<<<<<<< HEAD
    height: 0;
=======
    display: none;
>>>>>>> 2c44b682ddf00d56ea32455d842fce926c231d1e
    color: #333;
    background: #fff;
    font-size: 14px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
<<<<<<< HEAD
    z-index: 4;
    overflow: hidden;
=======
    z-index: 1;
>>>>>>> 2c44b682ddf00d56ea32455d842fce926c231d1e
}

#index_main .site-topbar a {
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    color: #b0b0b0;
}

#index_main .site-topbar a:hover {
    color: #fff;
}

#index_main .site-topbar a:hover .appcode {
    display: block;
}

#index_main .site-topbar .sep {
    margin: 0 3px;
    color: #424242;
}


/* 购物车 */

#index_main .topbar-cart {
    width: 120px;
    height: 40px;
    float: right;
    background: #424242;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #b0b0b0;
}

#index_main .topbar-cart:hover {
    background: #fff;
    color: #ff6700;
}

#index_main .topbar-cart:hover a {
    color: #ff6700;
}

#index_main .cart-menu {
    width: 316px;
    height: 0;
    background: #fff;
    position: relative;
    left: -197px;
    z-index: 1;
    color: #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}


/* 登陆注册info */

#index_main .topbar-info {
    float: right;
    margin-right: 20px;
    margin-left: 94px;
}


/* 导航2主体 */

#index_main .site-header {
    width: 100%;
    height: 100px;
    position: relative;
}

#index_main .site-header .container {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

#index_main .site-header .header-logo {
    float: left;
    width: 55px;
    margin-top: 22px;
    background: #ff6700;
}

#index_main .site-header .header-logo a {
    display: block;
    width: 55px;
    height: 55px;
    background: url(https://s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50%;
}

#index_main .site-header .header-logo a:hover {
    background: url(https://s02.mifile.cn/assets/static/image/mi-home.png) no-repeat 50% 50%;
<<<<<<< HEAD
}

#index_main .doodle a {
    display: block;
    float: left;
    width: 165px;
    height: 100px;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/f58837161090e2e04bf687088b2ffe77.gif?w=165&h=55) no-repeat 50% 50%;
    margin-left: 20px;
}

#index_main .header-nav li {
    float: left;
    font-size: 16px;
    line-height: 100px;
    margin: 0 10px;
}

#index_main .header-nav a:hover {
    color: #ff6700;
}

#index_main .nav-search {
    position: relative;
    float: right;
    width: 296px;
}

#index_main .nav-search input[type=search] {
    width: 223px;
    height: 48px;
    font-size: 14px;
    margin-top: 26px;
    margin-left: 16px;
    padding: 0 10px;
    border: 0;
    border: 1px solid #e0e0e0;
}

#index_main .nav-search input[type=submit] {
    position: absolute;
    top: 26px;
    right: 6px;
    width: 52px;
    height: 48px;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    border: 0;
    border: 1px solid #e0e0e0;
    outline: 0;
    cursor: pointer;
}

#index_main .iconsousuo {
    position: absolute;
    font-size: 18px;
    top: 40px;
    right: 22px;
}

#index_main .nav-search .submit:hover {
    background: #ff6700;
}


/* 导航2下拉菜单 */

#index_main .header-floor2 {
    position: absolute;
    width: 100%;
    height: 0;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
    z-index: 6;
}


/* 轮播图 */

#index_main .slide-menu {
    position: relative;
}

.swiper-container {
    width: 1200px;
    height: 460px;
    margin: 0 auto;
    --swiper-theme-color: #999;
    --swiper-navigation-size: 30px;
    --swiper-theme-color: #999;
}

.swiper-container img {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    margin-left: 520px;
}

.swiper-button-prev {
    margin-left: 230px;
    cursor: pointer;
}


/* 轮播图左侧菜单 */

#index_main .aside-menu {
    position: absolute;
    width: 234px;
    height: 440px;
    top: 0;
    left: 168px;
    background: rgba(105, 101, 101, .6);
    padding-top: 20px;
    z-index: 5;
}

#index_main .aside-menu .menu-floor1 li {
    height: 42px;
    line-height: 42px;
    cursor: pointer;
}

#index_main .menu-floor1 li:hover {
    background: #ff6700;
}

#index_main .menu-floor1 i {
    float: right;
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
}

#index_main .menu-floor1 a {
    margin-left: 30px;
    font-size: 16px;
    color: #fff;
}

#index_main .menu-floor2 {
    position: absolute;
    top: 0;
    left: 234px;
    width: 0;
    height: 460px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
=======
>>>>>>> 2c44b682ddf00d56ea32455d842fce926c231d1e
}